In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
dataset = pd.read_csv("Shibaura.csv")

In [4]:
dataset

    RobotID Speed ObstacleDistance movingObstacle Stop
0         1    <5             5-10             No  Yes
1         2    <5               <5             No  Yes
2         3    <5               <5            Yes  Yes
3         4    <5             5-10             No  Yes
4         5    8<             5-10            Yes   No
5         6   5-8              >10             No   No
6         7    8<              >10             No   No
7         8   5-8               <5             No   No
8         9   5-8              >10            Yes   No
9        10    <5             5-10             No  Yes
10       11    8<             5-10             No   No
11       12   5-8             5-10             No  Yes
12       13    <5              >10             No  Yes
13       14   5-8             5-10            Yes  Yes

In [5]:
X = dataset.iloc[:,:-1]

In [6]:
X

    RobotID Speed ObstacleDistance movingObstacle
0         1    <5             5-10             No
1         2    <5               <5             No
2         3    <5               <5            Yes
3         4    <5             5-10             No
4         5    8<             5-10            Yes
5         6   5-8              >10             No
6         7    8<              >10             No
7         8   5-8               <5             No
8         9   5-8              >10            Yes
9        10    <5             5-10             No
10       11    8<             5-10             No
11       12   5-8             5-10             No
12       13    <5              >10             No
13       14   5-8             5-10            Yes

In [7]:
y = dataset.iloc[:,4]

In [8]:
y

0     Yes
1     Yes
2     Yes
3     Yes
4      No
5      No
6      No
7      No
8      No
9     Yes
10     No
11    Yes
12    Yes
13    Yes
Name: Stop, dtype: object

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
labelencoder_X = LabelEncoder()

In [11]:
X = X.apply(LabelEncoder().fit_transform)

In [12]:
X

    RobotID  Speed  ObstacleDistance  movingObstacle
0         0      2                 0               0
1         1      2                 1               0
2         2      2                 1               1
3         3      2                 0               0
4         4      1                 0               1
5         5      0                 2               0
6         6      1                 2               0
7         7      0                 1               0
8         8      0                 2               1
9         9      2                 0               0
10       10      1                 0               0
11       11      0                 0               0
12       12      2                 2               0
13       13      0                 0               1

In [13]:
from sklearn.tree import DecisionTreeClassifier

In [14]:
regressor = DecisionTreeClassifier()

In [15]:
regressor.fit(X.iloc[:,1:5], y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [21]:
from sklearn.externals.six import StringIO

In [22]:
from IPython.display import Image

In [23]:
from sklearn. tree import export_graphviz

In [25]:
import pydotplus

In [26]:
dot_data = StringIO()

In [27]:
export_graphviz(regressor, out_file = dot_data, filled = True, rounded = True, special_characters = True)

In [28]:
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())

In [29]:
graph.write_png('detection.png')

True